@using SoundSphere.Models
@model MusicTrack

<h1>Are you sure you want to delete this track?</h1>

<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <input type="hidden" value="RatingId" id="RatingId" />
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Artist">Artist</label>
        <input asp-for="Artist" class="form-control" placeholder="Artist">
        <span asp-validation-for="Artist" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre">Genre</label>
        <input asp-for="Genre" class="form-control" placeholder="Genre">
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
      <div class="form-group">
        <label asp-for="ReleaseYear">ReleaseYear</label>
        <input asp-for="ReleaseYear" class="form-control" placeholder="ReleaseYear">
        <span asp-validation-for="ReleaseYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating.Comment">Comment</label>
        <input asp-for="Rating.Comment" class="form-control" placeholder="Comment">
        <span asp-validation-for="Rating.Comment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating.Points">Points</label>
        <input asp-for="Rating.Points" class="form-control" placeholder="Points">
        <span asp-validation-for="Rating.Comment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Image">
        <span asp-validation-for="Image" class="text-danger"></span>

    </div>
    <div class="form-group">
        <form action="Delete" method="post">
            <input type="hidden" asp-for="Id">
            <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3" />
        </form>
    </div>
</form>